<div class="container">
  <button (click)="goBack()" class="back-button">
    <span class="back-icon"><mat-icon>arrow_back</mat-icon></span>
  </button>
  <div *ngIf="series" class="series-details">
    <div class="image-container">
      <img
        [src]="'https://image.tmdb.org/t/p/w500/' + series.poster_path"
        alt="{{ series.name }}"
      />
    </div>

    <div class="text-container">
      <h2>{{ series.name }}</h2>
      <p><strong>Release Date:</strong> {{ series.release_date }}</p>
      <p><strong>Overview:</strong> {{ series.overview }}</p>
      <p><strong>Vote Average:</strong> {{ series.vote_average }}</p>
      <a
        *ngIf="trailerVideoKey"
        [href]="'https://www.youtube.com/watch?v=' + trailerVideoKey"
        target="_blank"
        class="trailer-button"
      >
        Watch Trailer
      </a>
      <p *ngIf="!trailerVideoKey">Trailer not available for this series.</p>
    </div>
  </div>
</div>
