<div class="swiper-container">
  <div class="swiper-wrapper">
    <div
      *ngFor="let item of movies"
      class="swiper-slide"
      [ngStyle]="{
        'background-image':
          'url(https://image.tmdb.org/t/p/w500/' + item.poster_path + ')'
      }"
    >
      <div class="slide-content">
        <div class="slide-details">
          {{ item.title ? item.title : item.name }}
          <p>{{ item.overview | slice:0:150 }}{{ item.overview.length > 100 ? '...' : '' }}</p>
        </div>
        <button class="detail-button" (click)="goToDetail(item)">
          Play Now
        </button>
      </div>
    </div>
  </div>
</div>
