<div class="search-container">
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <div class="search-form">
      <div class="search-input">
        <input
          type="text"
          formControlName="movieName"
          placeholder="Search Movie Here ..."
        />
      </div>
      <div class="search-button">
        <button class="btn-search">Search</button>
      </div>
    </div>
  </form>

  <div class="search-results">
    <div *ngFor="let movie of searchResult" class="search-result">
      <div class="search-item">
        <div *ngIf="movie.poster_path" class="search-image">
          <img
            src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}"
            [routerLink]="['/movie-detail', movie.id]"
            alt="search-image"
          />
        </div>
        <div class="search-details">
          <h5>{{ movie.original_title }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
