<div class="login-container">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <mat-card class="login-card">
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field class="custom-width">
          <input
            matInput
            placeholder="Email address"
            type="email"
            name="email"
            formControlName="email"
          />
          <mat-error *ngIf="email?.errors?.['required']">
            Email address is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="custom-width">
          <input
            matInput
            placeholder="Password"
            type="password"
            name="password"
            formControlName="password"
          />
          <mat-error *ngIf="password?.errors?.['required']">
            Password is required
          </mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button class="login-button">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- Register Link -->
  <div class="register-link">
    Don't have an account? <a routerLink="/registration">Register</a>
  </div>
</div>
