@media (max-width: 600px) {
    .movie-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .movie-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 901px) {
    .movie-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .movie-grid {
    display: grid;
    gap: 10px;
  }
  .movie-list {
    flex-grow: 1;
  }

  .movie-item {
    width: 250px;
    margin: 5px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .movie-item img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: transform 0.2s;
  }
  
  .movie-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s;
  }
  
  .movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .movie-item:hover::after {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .movie-item {
    width: 250px;
    margin: 5px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid transparent;
  }
  
  .movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: white;
    position: relative;
  }
  
  .movie-item p {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    text-align: center;
    z-index: 1;
    transition: opacity 0.2s;
  }
  
  .movie-item:hover p {
    opacity: 1;
  }
  