<div class="navbar">
  <div class="logo" (click)="navigateToHome()">
    <img src="assets/logo.png" alt="Logo" />
  </div>
  <div class="navbar-links">
    <div class="search-bar">
      <button mat-button matSuffix (click)="goToSearch()">
        <mat-icon>{{ "search" }}</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="isUserLoggedIn(); else loginButton">
      <div class="logout-button">
        <button mat-raised-button (click)="logout()">Logout</button>
      </div>
    </ng-container>
    <ng-template #loginButton>
      <div class="login-button">
        <button mat-raised-button routerLink="/login">Login</button>
      </div>
    </ng-template>
  </div>
</div>
