<div class="page-content">
  <div class="slider">
    <app-slider [movies]="popularMovies"></app-slider>
  </div>

  <div class="container">
    <h2>Popular Movies</h2>
    <div class="horizontal-scroll-menu">
      <div class="scroll-container">
        <div *ngFor="let movie of movies" class="menu-item">
          <img
            width="100"
            height="150"
            [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
            alt="{{ movie.title }}"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Popular TV Series</h2>
    <div class="horizontal-scroll-menu">
      <div class="scroll-container">
        <div *ngFor="let series of tvSeries" class="menu-item">
          <img
            width="100"
            height="150"
            [src]="'https://image.tmdb.org/t/p/w500/' + series.poster_path"
            alt="{{ series.title }}"
          />
          <p>{{ series.title }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  
    <app-all-movies
    [allMovies]="allMovies"       
    [currentPage]="currentPage"  
    [totalPages]="totalPages"      
  ></app-all-movies>
    <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (previousPage)="loadPreviousPage()"
        (nextPage)="loadNextPage()"
      ></app-pagination>
  </div>
</div>
