@media (max-width: 600px) {
    .movie-grid {
      grid-template-columns: repeat(1, 1fr); 
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    .movie-grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (min-width: 901px) {
    .movie-grid {
      grid-template-columns: repeat(5, 1fr); 
    }
  }

.page-content {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.movie-list {
  flex-grow: 1;
}

.horizontal-scroll-menu {
  overflow-x: auto;
  white-space: nowrap;
  border: 1px solid #ccc;
}

.scroll-container {
  display: inline-block;
  padding: 10px;
}

.menu-item {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e0e0e0;
}
.container {
  margin-bottom: 20px;
  max-height: 80vh;
  overflow-y: auto;
}
.slider {
  margin-bottom: 20px;
  max-height: 100vh;
  overflow-y: auto;
}

.movie-grid {
  display: grid;
  gap: 10px;
}

.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.movie-item {
  width: 250px;
  margin: 5px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: rgba(0, 0, 0, 0);
}

.movie-item img {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: transform 0.2s;
}

.movie-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s;
}

.movie-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-item:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.movie-item p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  margin: 0;
  padding: 5px;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-item:hover p {
  opacity: 1;
}
