<div class="page-content">
  <div class="slider">
    <app-slider [movies]="popularMovies"></app-slider>
  </div>

  <div class="container">
    <h2>Popular Movies</h2>
    <div class="horizontal-scroll-menu">
      <div class="scroll-container">
        <div *ngFor="let movie of movies" class="menu-item">
          <img
            width="100"
            height="150"
            [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
            alt="{{ movie.title }}"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Popular TV Series</h2>
    <div class="horizontal-scroll-menu">
      <div class="scroll-container">
        <div *ngFor="let series of tvSeries" class="menu-item">
          <img
            width="100"
            height="150"
            [src]="'https://image.tmdb.org/t/p/w500/' + series.poster_path"
            alt="{{ series.title }}"
          />
          <p>{{ series.title }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item" (click)="selectTab('movies')">
        <a class="nav-link" [class.active]="activeTab === 'movies'"
          >All Movies</a
        >
      </li>
      <li class="nav-item" (click)="selectTab('series')">
        <a class="nav-link" [class.active]="activeTab === 'series'"
          >All Series</a
        >
      </li>
    </ul>

    <div *ngIf="activeTab === 'movies'">
      <app-all-movies
        [allMovies]="allMovies"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (loadPreviousPage)="loadPreviousPage()"
        (loadNextPage)="loadNextPage()"
      ></app-all-movies>
    </div>

    <div *ngIf="activeTab === 'series'">
      <app-all-series
        [allSeries]="allSeries"
        [currentPage]="currentSeriesPage"
        [totalPages]="totalSeriesPages"
        (loadPreviousPage)="loadPreviousPageSeries()"
        (loadNextPage)="loadNextPageSeries()"
      ></app-all-series>
    </div>

    <!-- Pagination for the active tab -->
    <app-pagination
      [currentPage]="activeTab === 'movies' ? currentPage : currentSeriesPage"
      [totalPages]="activeTab === 'movies' ? totalPages : totalSeriesPages"
      (previousPage)="
        activeTab === 'movies' ? loadPreviousPage() : loadPreviousPageSeries()
      "
      (nextPage)="
        activeTab === 'movies' ? loadNextPage() : loadNextPageSeries()
      "
    ></app-pagination>
  </div>
</div>
